<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Questions?</h2>
        <hr class="primary">
        <p>Let us know or shoot us pics of your experience</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <a href="https://twitter.com/{{ site.data.social.twitter }}">
          <i class="fab fa-twitter fa-4x wow bounceIn" data-wow-delay=".1s"></i>
          <p>@{{ site.data.social.twitter }}</p>
        </a>
      </div>
<!--
      <div class="col-lg-3 text-center">
        <a href="mailto:{{ site.data.social.email }}">
        <i class="fa-solid fa-envelope fa-4x wow bounceIn" data-wow-delay=".1s"></i>
          <p>{{ site.data.social.email }}</p>
        </a>
      </div>
-->
      <div class="col-lg-3 text-center">
        <a href="https://instagram.com/{{ site.data.social.instagram }}">
        <i class="fab fa-instagram fa-4x wow bounceIn" data-wow-delay=".1s"></i>
          <p>{{ site.data.social.instagram }}</p>
        </a>
      </div>
      <div class="col-lg-3 text-center">
        <a href="https://github.com/{{ site.data.social.github }}">
        <i class="fab fa-github fa-4x wow bounceIn" data-wow-delay=".1s"></i>
          <p>{{ site.data.social.github }}</p>
        </a>
      </div>
      <div class="col-lg-3 text-center">
        <a href="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&showPrint=0&showCalendars=0&src=YTAzZGExM2FhZmU2YjRjOGQ1YmFiZGE1MWZlNzU5YTQyMjgzY2VmYzdjY2ExODAxYjE4ZDdkYjUxMTgyNGQ4M0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5">
        <i class="fa-solid fa-calendar-days fa-4x wow bounceIn" data-wow-delay=".1s"></i>
          <p>Little Blue House</p>
        </a>
      </div>
    </div>
  </div>
</section>
