<section class="no-padding" id="current">
  <div class="container-fluid">
    <div class="row no-gutter">

      {% for menu_item in site.data.current %}
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <img src="img/current/{{ menu_item.photo }}" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    {{ menu_item.category }}
                </div>
                <div class="project-name">
                    {{ menu_item.name }}
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
