<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>What we want to try</h2>
            <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
        </div>
    </div>
</aside>


<section class="no-padding" id="experimental">
  <div class="container-fluid">
    <div class="row no-gutter">

      {% for recipe in site.data.experimental %}
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <img src="img/experimental/{{ recipe.photo }}" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                    {{ recipe.category }}
                </div>
                <div class="project-name">
                    {{ recipe.name }}
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
