<section id="how-this-works">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How this works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hamburger wow bounceIn text-primary"></i>
                    <h3><a href='#current'>Tried and True</a></h3>
                    <p class="text-muted">These are recipes we have tried, and we're confident that they're de-licious.</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flask wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><a href='#experimental'>Things we want to try</a></h3>
                    <p class="text-muted">Recipes that we want to try out, but we can't promise anything... And if all else fails, we order pizza.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cocktail wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><a href='#drinks'>Drinks</a></h3>
                    <p class="text-muted">Check out our list of house beer and wine. If you're looking to turn up the heat, we're happy to bust out the shaker and feature a signature cocktail for the evening.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pepper-hot wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><a href='#sides'>Sides</a></h3>
                    <p class="text-muted">We need other stuff than meat!</p>
                </div>
            </div>
        </div>
    </div>
</section>
