<aside class="bg-dark">
  <div class="no-gutter text-center">
    <h2>Random</h2>
    <div id='randomSwap' class="call-to-action">
      <a id='randomBtn' class="btn btn-default btn-xl wow tada">Find a random recipe!</a>
    </div>
    <div id='randomRecipe' style="display: none;">
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="100%" height="400" src="https://biggreenegg.com/recipes/smoked-beef-ribs-with-mustard-marinade/"></iframe>
    </div>
  </div>
</aside>




