<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<script type="text/javascript">
  $('#randomBtn').click(function() {
      var recipeSlugs = []
      {% for slug in site.data.random %}
        recipeSlugs.push('{{ slug }}');
      {% endfor %}

      var length = recipeSlugs.length;
      var randomNum = Math.floor(Math.random()*length);
      var randomItem = recipeSlugs[randomNum];

      var randomRecipe = '<a target="_blank" href="https://biggreenegg.com/blogs/recipes/'+randomItem+'/">'+randomItem+'</a>'

      // replace the contents of the div with the link text
      $('#randomRecipe').html(randomRecipe);

      $('#randomSwap').hide();
      $('#randomRecipe').show();
      // cancel the default action of the link by returning false
      return false;
  });
</script>